.THIS .field {
    width:100%; 
}

.THIS .fieldProd {
    width:40%;
    height: 100% !important; 
}

.THIS .rotator{
    transition: 0.4s;
    transform: rotateZ(360deg);
}

.THIS .buttonStyle:hover .iconStyle svg{
    fill: #d62718;
}